{% extends 'base.html.twig' %}

 {% block body %}
 <div class="container">
<div>
<a class="ask1" href="{{ about }}">Are are you coming to class?</a>
</div>
<br>
<div>
<a class="ask1" href="{{ slower }}">Please can you be slower?</a>
</div>
<br> 
<div>
<a class="ask1" href="{{ stack }}"> People on the remote are you there? Hello...Hello...May be sleeping!</a>

</div> 
<br> 
<div>
<a class="ask1" href="{{ dog }}">Whose dog is that?</a>
</div> 

</div>
  <div class="funny-video">
       <video autoplay muted loop class="funny-video">
          <source src="./faster.mp4" type="video/mp4" />
          <button>Back</button>
        </video>
  </div>


 {% endblock %}