 
{% extends 'base.html.twig' %}


 {% block body %}
  
     <h1 class="text">Ask before it is too late!</h1>

 <div class="container">


   <video autoplay muted loop class="funny-video">
          <source src="./ask.mp4" type="video/mp4" />
        </video>

           <video autoplay muted loop class="funny-video">
          <source src="./faster.mp4" type="video/mp4" />
        </video>
             <video autoplay muted loop class="funny-video">
          <source src="./slower.mp4" type="video/mp4" />
        </video>

</div>
 
 {% endblock %}
