:root{
    --dialog-bg:#02c7d9;
    --dialog-color:white;
    --dialog-font: font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    --shirt-color1:tomato;
    --shirt-color2:rgb(21, 63, 121);
    --shirt-color3:rgb(79, 154, 35);
    --skin-color1:#ECA03D;
    --skin-color2:#dbccba;
    --skin-color3:rgb(169, 138, 80);
    --hair-color1:#361f02;
    --hair-color2:#b7c32c;
    --hair-color3:#0c0c0a;
}

/*general*/
*{
    margin: 0;
    padding: 0;
} 

.classroom{
    position: relative;
    min-width:400px;
    min-height: 500px;
    display:flex;
}

.invisible{
    display: none;
}

/*Teacher*/
.teacher{
    display: inline-block;
    position: absolute;
    left: 45%;
    top: 10px;
}

.teacher-head{
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--skin-color3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.teacher-head .hair{
    display: inline-block;
    position: relative;
    top: -40px;
    width: 110px;
    height: 30px;
    background-color: var(--hair-color3);
    border-top-left-radius: 510px;
    border-bottom-right-radius: 510px;
}

.teacher-body{
    position: relative;
    width: 130px;
    height: 150px;
    border-top-left-radius: 510px;
    border-top-right-radius: 510px;
    background: var(--shirt-color3); 
}

.teacher-left-arm,
.teacher-left-arm{
    position: relative;
    display: inline-block;
}
.teacher-right-arm .shoulder{
    position: relative;
    width: 30px;
    height: 75px;
    left: -20px;
    top: -130px;
    border-top-left-radius: 510px;
    border-top-right-radius: 510px;
    transform: rotate(25deg);
    background: var(--shirt-color3);
}

.teacher-right-arm .arm{
    position: relative;
    width: 30px;
    height: 75px;
    left: -57px;
    top: -180px;
    border-top-right-radius: 510px;
    transform: rotate(125deg);
    background: var(--shirt-color3);
}

.teacher-right-arm .hand{
    width: 50px;
    height: 40px;
    position: relative;
    top: -260px;
    left: -110px;
    border-radius: 50%;
    background-color: var(--skin-color3);
       
}

.teacher-right-arm .thumb{
    width: 25px;
    height: 20px;
    position: relative;
    top: -305px;
    left: -85px;
    border-radius: 50%;
    background-color: var(--skin-color3);
    transform: rotate(60deg);
       
}

.teacher-left-arm .shoulder{
    position: relative;
    width: 30px;
    height: 75px;
    left: 130px;
    top: -350px;
    border-top-left-radius: 510px;
    border-top-right-radius: 510px;
    transform: rotate(-50deg);
    background: var(--shirt-color3);
}

.teacher-left-arm .arm{
    position: relative;
    width: 30px;
    height: 100px;
    left: 140px;
    top: -380px;
    border-top-right-radius: 510px;
    transform: rotate(45deg);
    background: var(--shirt-color3);
}

/*students*/
.student1{
    position: absolute;
    display: inline-block;
    bottom: 0;
 
}

/*STUDENT LEFT SIDE*/
.head-right{
    width: 200px;
    height: 100px;
    position: relative;
    left: -51px;
    bottom: 150px;
    border-bottom-left-radius: 510px;
    border-bottom-right-radius: 510px;
    background: var(--skin-color1);
    transform: rotate(-90deg);
  }

  .hair-right-top{
    width: 90px;
    height: 100px;
    position: absolute;
    border-bottom-left-radius: 510px;
    border-bottom-right-radius: 510px;
    background: var(--hair-color1);
    left: 120px;
  }

  .hair-right-bottom{
    width: 90px;
    height: 20px;
    position: absolute;
    border-bottom-left-radius: 510px;
    border-bottom-right-radius: 510px;
    background: var(--hair-color1);
    left: 40px;
  }

.right-body{
	width: 200px;
    height: 200px;
    position: absolute;
    bottom: -97px;
    left: 0;
    border-top-right-radius:100%;
    border-top-left-radius:0;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    background: var(--shirt-color1);
}

.right-shoulder{
    width: 100px;
    height:150px;
    position: absolute;
    bottom: -97px;
    left: 90px;
    border-top-right-radius:100%;
    border-top-left-radius:40%;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    background:var(--shirt-color1);
}
/*student rigth side*/
.head-left{
    width: 200px;
    height: 100px;;
    position: absolute;
    right: -51px;
    bottom: 150px;
    border-top-left-radius: 510px;
    border-top-right-radius: 510px;
    background: var(--skin-color2);
    transform: rotate(-90deg);
  }

  .hair-left-top{
    width: 90px;
    height: 100px;
    position: absolute;
    border-top-left-radius: 510px;
    border-top-right-radius: 510px;
    background: var(--hair-color2);
    left: 120px;
  }

  .hair-left-bottom{
    width: 90px;
    height: 20px;
    position: absolute;
    border-top-left-radius: 510px;
    border-top-right-radius: 510px;
    background: var(--hair-color2);
    bottom: 0;
    left: 30px;
  }

.left-body{
	width: 200px;
    height: 200px;
    position: absolute;
    bottom: -90px;
    right: 0;
    border-top-right-radius:0;
    border-top-left-radius:100%;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    background: var(--shirt-color2);
}

.left-shoulder{
    width: 100px;
    height: 150px;
    position: absolute;
    bottom: -90px;
    right: 90px;
    border-top-right-radius:40%;
    border-top-left-radius:100%;
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    background:var(--shirt-color2);
}
/*dialogs*/

:root{
    --dialog-bg:#02c7d9;
    --dialog-color:white;
    --dialog-font: font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.answer-dialog {
	background: var(--dialog-bg);
	border-radius: .4em;
    width: 300px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px black;
    position: absolute;
    top: 260px;
    left:43%
}

.answer-dialog:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 1.75em solid transparent;
	border-bottom-color: #02c7d9;
	border-top: 0;
	border-left: 0;
	margin-left: -0.875em;
	margin-top: -1.75em;
}

.question-dialog {
	background: var(--dialog-bg);
	border-radius: .4em;
    width: 300px;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px black;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.question-dialog:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 1.75em solid transparent;
	border-bottom-color: #02c7d9;
	border-top: 0;
	border-left: 0;
	margin-left: -0.875em;
	margin-top: -1.75em;
}

.input-question{
    /*teaxt-area input*/
   background: #02c7d9;
   width: 230px;
   height: 110px;
   border: none;
   font-size: 20px;
}

.ask{
   /*submit button*/
   border: none;
   background-color: var(--dialog-bg);
   border-radius: 5px;
}
.ask:hover{
   /*submit button*/
   border-color: black;
   background-color: orangered;
   color: var(--dialog-bg);
   text-shadow: black;
}